body{

    font-family: 'Lato', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}

h1{

    font-size: 50px;
}

h2{

    font-size: 40px;
}

.highlights{

    color: orange;
}

p{

    color: dimgrey;
}

a:hover {

    color: white;
}

.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{

    width: 75%;
    
}

.top-banner{

    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{

    height: 500px;
    padding-bottom: 70px;
}

.link-button{

    text-decoration: none;
    background-image: linear-gradient(60deg, gold, orange);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    transition: width 2s;
    
    
}

.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;


}

.single-experience{

    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 70%;
    background-color: white;

}

.experience-area{

    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{

    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#maintainance-web{

    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

.skills-pro{

    background-image: url("images/idea.png");
    background-repeat: no-repeat;
    background-position: right;
}



.skills-area{

    width: 500px;
    margin: 25px;
       
}

li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 800;
    text-transform: uppercase;
}

li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
}

li:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 20px;
    background-color: rgba(54, 126, 223, 1);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 95%;
    }
}

li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 85%;
    }
}

li.js:after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 80%;
    }
}

li.rj:after {
    animation-name: rj;
}

@keyframes rj {
    to {
        width: 75%;
    }
}

li.nj:after {
    animation-name: rj;
}

@keyframes nj {
    to {
        width: 65%;
    }
}


li.mb:after {
    animation-name: mb;
}

@keyframes mb {
    to {
        width: 60%;
    }
}

footer p {

    color: rgb(63, 61, 61);
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    
}