body{

    font-family: 'Lato', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}

h1{

    font-size: 50px;
}

.highlights{

    color: orange;
}

p{

    text-align: left;
}

.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{

    width: 75%;
    margin-left: 25%;
}

.top-banner{

    background-image: url("images/cubes.jpg");
    background-repeat: no-repeat;
}

.section{

    height: 500px;
}

.link-button{

    text-decoration: none;
    background-image: linear-gradient(60deg, gold, orange);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    padding-top: 5px;
}